<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NXL Compliance Tracker</title>
    <%- include("sidebar2.ejs") %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .text-danger {
            color:red;
        }
        .text-success {
            color:green;
        }
    </style>
</head>
<body>
  <div class="modal" id="editPayrollDateModal" tabindex="-1" aria-labelledby="editPayrollDateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPayrollDateModalLabel">Edit Payroll Date</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editPayrollDateForm">
            <div class="mb-3">
              <label for="payrollDateInput" class="form-label">Payroll Date</label>
              <input type="date" class="form-control" id="payrollDateInput" required>
              <input type="hidden" id="projectNumberInput">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <h1 class="content text-center">Compliance Tracker</h1>
    <div class="d-flex justify-content-end">
        <div class="dropdown d-flex gap-2 justify-content-end mb-4 me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownProjectManager" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Project Manager</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownProjectManager" id="dropdownProjectManagerMenu"></ul>
        </div>
        <div class="dropdown d-flex gap-2 justify-content-end mb-4 me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownProjectCustomer" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Filter by Customer </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownProjectCustomer" id="dropdownProjectCustomerMenu"></ul>
        </div>
    </div>
    <div class="d-flex mb-3">
        <input type="text" id="searchInput" class="form-control search-bar content" placeholder="Search by Project Number, DIR or Project Name" style="width:100%">
    </div>
    <div class="d-flex">
        <table class="table table-sm content table-auto table-hover" style="table-layout: auto; width: 100%">
            <thead class="table">
                <tr class="nested-row">
                    <th class="invisible">Sub</th>
                    <th>Project Number</th>
                    <th>DIR Number</th>
                    <th>Project Name</th>
                    <th>Project Manager</th>
                    <th>Customer Name</th>
                    <th>Payroll Date</th>
                    <th>DAS</th>
                    <th>Tracking</th>
                    <th>LCP Portal</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="projectTableBody">
              <% 
                const wageMap = {};
                wageData.forEach(row => {
                    if (!wageMap[row.projectnumber]) {
                        wageMap[row.projectnumber] = row;
                    }
                });
                %>
                <% complianceData.forEach(function(complianceData) { %>
                  <tr id="projectTableBodyMain" data-dasfiledate="<%= complianceData.dasfiledate%>" data-dasonsitedate="<%= complianceData.dasonsitedate %>" data-actualonsitedate="<%= complianceData.actualonsitedate %>" data-payrolldate="<%= complianceData.payrolldate%>">
                    <td>
                      <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="collapse" data-bs-target="#<%= complianceData.projectnumber %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"/>
                        </svg>
                      </button>
                    </td>
                    <td data-tippy-content="<div>
                      <p><strong>Project Notes:</strong></p>
                      <%- complianceData.projectnotes ? complianceData.projectnotes
                          .replace(/\n/g, '</p><p>')
                          .replace(/^/, '<p>')
                          .replace(/$/, '</p>') : '<p>No notes available.</p>' %>
                      </div>"><a href="/projects/<%= complianceData.projectnumber %>"><%= complianceData.projectnumber %></a>
                    </td>
                    <td><%= complianceData.dirnumber %></td>
                    <td><%= complianceData.projectname %></td>
                    <td id="projectManagerList"><%= complianceData.projectmanager %></td>
                    <td id="customerList"><%= complianceData.projectcustomer %></td>  
                    <td class="payroll-date payroll-days-old" data-bs-toggle="modal" data-bs-target="#editPayrollDateModal" data-project-number="<%= complianceData.projectnumber %>" data-payroll-date="<%= complianceData.payrolldate %>"><%= complianceData.payrolldate %></td>
                    <td id="dasStatus"></td>
                    <td><%= complianceData.projecttracking %></td>
                    <td><%= complianceData.projectportal %></td>                       
                  </tr>
                  <tr class="collapse nested-row" id="<%= complianceData.projectnumber %>">
                    <td colspan="10">
                      <table class="table-sm table-bordered" style="table-layout: auto; width: 100%">
                        <thead>
                          <tr class="nested-row">
                            <th>Determination</th>
                            <th>Basic Hrly</th>
                            <th>H&W</th>
                            <th>Pension</th>
                            <th>Vacation</th>
                            <th>Training</th>
                            <th>Other</th>
                            <th class="text-primary">Inc1-BHR</th>
                            <th class="text-primary">Inc1-H&W</th>
                            <th class="text-primary">Inc1-Pension</th>
                            <th class="text-primary-emphasis">Inc2-BHR</th>
                            <th class="text-primary-emphasis">Inc2-H&W</th>
                            <th class="text-primary-emphasis">Inc2-Pension</th>
                            <th class="text-info">Inc3-BHR</th>
                            <th class="text-info">Inc3-H&W</th>
                            <th class="text-info">Inc3-Pension</th>
                            <th class="text-success">Inc4-BHR</th>
                            <th class="text-success">Inc4-H&W</th>
                            <th class="text-success">Inc4-Pension</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% const wage = wageMap[complianceData.projectnumber]; %>
                        <tr class="nested-row">
                          <td><%= complianceData.wagedetermination %></td>
                          <td>$<%= wage ? wage.bhr : '-' %></td>
                          <td>$<%= wage ? wage.haw : '-' %></td>
                          <td>$<%= wage ? wage.pension : '-' %></td>
                          <td>$<%= wage ? wage.vacation : '-' %></td>
                          <td>$<%= wage ? wage.training : '-' %></td>
                          <td>$<%= wage ? wage.other : '-' %></td>
                          <td>$<%= wage ? wage.inc1BHR : '-' %></td>
                          <td>$<%= wage ? wage.inc1HAW : '-' %></td>
                          <td>$<%= wage ? wage.inc1PENSION : '-' %></td>
                          <td>$<%= wage ? wage.inc2BHR : '-' %></td>
                          <td>$<%= wage ? wage.inc2HAW : '-' %></td>
                          <td>$<%= wage ? wage.inc2PENSION : '-' %></td>
                          <td>$<%= wage ? wage.inc3BHR : '-' %></td>
                          <td>$<%= wage ? wage.inc3HAW : '-' %></td>
                          <td>$<%= wage ? wage.inc3PENSION : '-' %></td>
                          <td>$<%= wage ? wage.inc4BHR : '-' %></td>
                          <td>$<%= wage ? wage.inc4HAW : '-' %></td>
                          <td>$<%= wage ? wage.inc4PENSION : '-' %></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="modal.js"></script>
    <script src="projects.js"></script>
    <script src="search.js"></script>  
    <script src="tracker.js"></script>
</body>
</html>